.brands {
  &__swiper {
    margin-top: 16px;
  }
  &__item {
    width: 208px;
    height: 72px;
    align-items: center;
  }

  @include tablets {
    &__item {
      width: 224px;
      @include desktop {
        width: 240px;
      }
      &_hp_8px {
        padding-left: 8px;
      }
    }
    &__see-more {
      left: 8px;
      cursor: pointer;
      @include desktop {
        left: 32px;
      }
    }
  }
}
