.services {
  position: relative;
  padding-top: 26px;
  &__container {
    margin-left: 16px;
  }
  &__title {
    font-family: "TT Lakes Bold";
    position: relative;
    font-style: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.8px;
    margin-right: -4px;

    &::before {
      position: absolute;
      width: 4px;
      height: 40px;
      content: "";
      left: -5%;
      background-color: #41f6d7;
    }
  }
  &__shadow {
    position: absolute;
    width: 24px;
    height: 40px;
    background: $swiper-shadow;
    right: 0;
    top: 30%;
    z-index: 2;
  }
  &__swiper {
    margin-top: 25px;
  }
  &__text {
    width: 288px;
    height: 90px;
    margin-top: 26px;
    font-family: "TT Lakes Regular";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
  }
  &__read-more {
    margin-top: 12px;
    margin-left: 32px;
    position: relative;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    &::before {
      content: url(../img/read-more.webp);
      position: absolute;
      left: -25%;
    }
  }
  &__img {
    margin-top: 16px;
  }
  @include tablets {
    padding-left: 24px;
    &__container {
      margin-left: 0px;
    }
    &__swiper {
      margin-top: 32px;
    }
    &__text {
      margin-top: 32px;
      width: 312px;
      height: 160px;
      line-height: 20px;
    }
    &__read-more {
      margin-top: 8px;
    }
    &__img {
      position: absolute;
      right: 40px;
      bottom: 0;
      transform: scale(1.15);
    }
  }
}
